  <div class="glassBackgroundInfo">
    <h1 class="welcome">Invest with Confidence.</h1>
    <h2>Trade with Precision.</h2>
    <p class="write">
Unlock smarter investing with a modern brokerage built for beginners, pros, and long-term wealth builders.
Start trading stocks, crypto, and global assets with real-time data, powerful tools, and industry-leading security.</p>
    <a href="#" class="btn-3d">Invest Now</a>
  </div>
  <script></script>