
  <form class="form">
  <div class="inputcontainer">
  <input type="email" name="email" placeholder=" " required>
    <label for="email">Email</label>
  </div>
  
  <div class="inputcontainer">
  <input type="password" name="pasword" placeholder=" " type="email" required>
    <label for="password">Password</label>
  </div>
  <button type="submit">Submit</button>
  <p>Don't have an account<a class="signup" href="/signup">signup</a></p>
  <a class="fgpass" href="/forgotpass">forgot password?</a>
</form>