<header>
    <nav>
        <p id="logo">Logo</p>
        <ul>
            <li><a href="/" id="links">Home</a></li>
            <li><a href="/about" id="links">About</a></li>
            <li><a href="/services" id="links">Services</a></li>
            <li><a href="/contact" id="links">Contact</a></li>
        </ul>
        <a href="login" id="Login">Login</a>
    </nav>

</header>