<main class="mainpage">
    <video autoplay muted loop class="backgroundvid">
        <source src="../images/background.mp4" type="video/mp4">
    </video>
    <section class="introtext">
        <h2>lorem ipssum</h2>
        <p>This is the main page content for the Broker application.</p>
        <a href="signuppage" class="invest" id="invest">Invest</a>
    </section>
</main>