<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broker</title>
    <link rel="stylesheet" href="styles/mainnavbar.css">
    <link rel="stylesheet" href="styles/mainpage.css">
    <link rel="stylesheet" href="styles/glass.css">
</head>

<body>
    <%- include('../partials/mainnavbar.ejs') %>
    <%- body %>
    <footer>
        <p>Broker Template Footer</p>
    </footer>
    <script src="/public/js/glass.js"></script>
</body>

</html>