<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styletemplate.css">
    <link rel="stylesheet" href="/styles/mainnavbar.css">
    <link rel="stylesheet" href="/public/styletemplate.css">
</head>
<body>
    <%- include('../partials/mainnavbar.ejs') %>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>Broker Template Footer</p>
    </footer>
</body>
</html>