<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broker</title>
    <link rel="stylesheet" href="/styles/mainnavbar.css">
    <link rel="stylesheet" href="/styles/mainpage.css">
</head>

<body>
    <%- include('../partials/mainnavbar.ejs') %>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>Broker Template Footer</p>
    </footer>
    <script src="/javascript/mainpage. js"></script>
</body>
</html>