body{
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bkgvid{
    position: fixed;
    margin: 0px;
    padding: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
    background-repeat: no-repeat;
    object-fit: cover;
    top: 0px;
    bottom: 0px;
    z-index: -100;
}