
.glassBackgroundInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0rem 4rem 0rem 4rem;
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
7px 16px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
border: 1px solid rgba(255, 255, 255, 0.26);
width: auto;
height: auto;
padding: 2rem;
overflow: hidden;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.glassBackgroundInfo > h2{
  margin-top: 0rem;
  padding-top: 0rem;
  color: rgba(226, 233, 230, 0.594);
}

  .btn-3d {
    text-wrap: none;
    text-decoration: none;
    display:inline-block;
    padding:14px 28px;
    border-radius:12px;
    background: rgba(0,0,0,0.2);
    color: rgba(226, 0233, 0230, 0.594);
    font-weight:bold;
    border:01px solid rgba(86, 81, 81, 0.647);
    cursor:pointer;
    position:relative;
    user-select:none;
    transition:0.2s ease;
    box-shadow:
      0 7px 10px rgba(0,0,0,0.18),
      0 14px 20px rgba(0,0,0,0.25);
      margin-left: auto;
      margin-right: 3rem;
      
  }
  .btn-3d::before{
    content:"";
    position:absolute;
    left:6%;
    right:6%;
    top:8%;
    height:68%;
    user-select: none;
    border-radius:inherit;
    background:linear-gradient(180deg, rgba(255,255,255,0.01
    ), rgba(255,255,255,0.02));
    pointer-events:none;
  }
  .btn-3d:hover {
    transform: translateY(2px);
    box-shadow:
      0 4px 6px rgba(0,0,0,0.20),
      0 10px 16px rgba(0,0,0,0.22);
  }

  .btn-3d:active {
    transform:translateY(6px) scale(0.8);
    box-shadow:
      inset 0 6px 12px rgba(0,0,0,0.2),
      0 2px 6px rgba(0,0,0,0.15);
    transition:80ms; /* snappier press */}