
.glassBackgroundInfo{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0rem;
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
7px 16px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(7.9px);
border: 1px solid rgba(255, 255, 255, 0.26);
min-width: 100vw;
min-height: 100vh;
padding: 0px;
overflow: hidden;
z-index: 1;
top: 0px;
}
.text{
  margin: 0rem 4rem;
}
.glassBackgroundInfo > .text > h1{
  color: rgb(72, 199, 142);
  font-size: 2.5em;
}

.glassBackgroundInfo > .text > h2{
  margin: 0rem;
  padding-top: 0rem;
  color: rgba(226, 233, 230, 0.87);
  font-size: 2em;
}
.glassBackgroundInfo > .text > p{
  width: 100%;
}

  .btn-3d {
    left: calc(100vw - (4rem + 12em));
    text-wrap: none;
    margin-top: 1em;
    padding: .5em 2em;
    text-decoration: none;
    display:inline-block;
    border-radius:12px;
    background: rgba(226, 223, 230, 0.1);
    color: rgba(72, 199, 142, 0.817);
    font-weight: bolder;
    font-size: 1.2em;
    letter-spacing: 2px;
    border: .5em solid rgba(86, 81, 81, 0.04);
    cursor:pointer;
    position:relative;
    user-select:none;
    transition:0.2s ease;
        transform: translateY(2px);
    box-shadow:
      0 4px 6px rgba(0,0,0,0.20),
      0 10px 16px rgba(0,0,0,0.22);}