.loginwrapper{position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(225, 225, 225, 0.197);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  top: 0rem;
}

.form {
  text-align: center;
  width: 35rem;
  padding: 4rem 4rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 2rem;
  box-shadow: 0 10px 35px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}
.form .inputcontainer {
  width: 100%;
  position: relative;
  margin-top: 3rem;
}
.inputcontainer input:focus + label,
.inputcontainer input:not(:placeholder-shown) + label {
  top: 1.5rem;
  color: #4A8BFF;
}


.inputcontainer label {
  left: 1rem;
  top: 3rem;
  transform: translateY(-50px);
  position: absolute;
  font-weight: 600;
  margin: 10px 0 5px;
  display: block;
  transition: 0.6s ease-in-out;
  pointer-events: none;
}

.form input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 0.15rem solid;
  border-radius: 2rem;
  outline: none;
  margin-bottom: 15px;
  font-size: 15px;
  transition: border 0.9s ease-in;
}

.form input:focus {
  border-color: #4A8BFF;
}


.form button {
  margin-top: 2rem;
  width: 100%;
  padding: 12px;
  background: rgba(226, 233, 230, 0.9);
  color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 2rem;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  background: #306FEB;
}

.fgpass{
  color: black;
  text-decoration: none;
  margin-top: -0.6rem;
  padding: 0rem;
}
.signup{
  text-decoration: none;
  color: rgba(26, 233, 280, 6);
  margin-left: .5rem;
}
.form>p {
  margin-top: 2rem;
  padding: 0rem;
}
