header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0em;
    width: 100%;
    margin: 0em;
    padding-top: 3em;
    height: 80px;
    z-index: 199999;
}


nav{
    padding: 0em;
    margin: 0em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 100%;
    
}
nav li{

    text-decoration: none;
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0em;
    padding: 0em;
    

}
nav ul{
    margin: 0em;
    padding: 0em;
    display: flex;
    align-items: center;
    gap: 2em;
}   
#links{
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(206, 208, 205, 0.6);
    font-size: 1.1em;
    padding: 0.5em 0.9em;
    cursor: pointer;
}
#links:hover {
    border-radius: .5em;
    border: 0.1em solid rgba(206, 208, 205, 0.2);;
        box-shadow: 
                        0 10px 8px rgba(0, 0, 0, 0.15),
                                inset 0 -4px 8px rgba(0, 0, 0, 0.3),
                                        inset 0 4px 8px rgba(255, 255, 255, 0.2);
}

#logo{
    color: rgb(192, 199, 197);
    font-weight: bold;
    font-size: 2em;
    margin: 0rem 4rem;
}
#Login{text-decoration: none;
    background-color: rgba(226, 223, 230, 0.1);
    color: rgba(206, 208, 205, 0.81);
    margin-right: 4.5em;
    padding: 0.7em 2em;
    border-radius: 0.5em;
        box-shadow:
                        0 10px 8px rgba(0, 0, 0, 0.02),
                                inset 0 -4px 8px rgba(0, 0, 0, 0.5),
                                        inset 0 4px 8px rgba(255, 255, 255, 0.02);
    transition: all ease-in 0.7s;
}

#Login:hover{
    color: rgba(164, 168, 170, 0.8);
background-color: rgba(206, 208, 205, .1);}