*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}
.mainpage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    /*background: red;*/
    background: url(../images/background.mp4);
}