header{
    width: 100%;
    margin: 0em;
    padding: 0em;
    height: auto;
    z-index: 199999;
}


nav{border-radius: 0em 0em 0.5em 0.5em;
    padding: 0em;
    margin: 0em;
    background-color: #1e0878;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 100%;
    
}
nav li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0em;
    padding: 0em;
    

}
nav ul{
    margin: 0em;
    padding: 0em;
}   
#links{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    background-color: aqua;
    border-radius: 0.5em;
}
#logo{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 2.5em;
}
#Login{
    margin-right: 2.5em;
    padding: 0.4em 0.8em;
    border: 1px solid white;
    border-radius: 0.5em;
}