header{
    position: sticky;
    top: 0em;
    width: 100%;
    margin: 0em;
    padding: 0em;
    height: auto;
    z-index: 199999;
    background: rgba(114, 105, 105, 0.14);
    box-shadow: 0 9px 50px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(114, 105, 105, 0.83);
}


nav{
    padding: 0em;
    margin: 0em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 100%;
    
}
nav li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0em;
    padding: 0em;
    

}
nav ul{
    margin: 0em;
    padding: 0em;
    display: flex;
    align-items: center;
    gap: 2em;
}   
#links{
    text-decoration: none;
    color: rgba(206, 208, 205, 0.8);
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}
#links:hover {
    border-radius: 1em;
    border: 0.1em solid;
}

#logo{
    color: rgba(121, 130, 117, 1);
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 4.5em;
}
#Login{text-decoration: none;
    color: rgba(206, 208, 205, 0.8);
    margin-right: 4.5em;
    padding: 0.4em 0.8em;
    border: 1px solid rgba(206, 208, 205, 0.3);
    border-radius: 0.5em;
        box-shadow:
                        0 10px 8px rgba(0, 0, 0, 0.3),
                                inset 0 -4px 8px rgba(0, 0, 0, 0.5),
                                        inset 0 4px 8px rgba(255, 255, 255, 0.2);
}