<section class="formcontainer">
  <div class="forminfo">
    <% const words = ['Start investing today', 'plan your future', 'grow your wealth'] %>
    <h2><%= dynamicHeader() %></h2>
  </div>
</section>
  <form action="/submit" method="POST">
<%- include('../fractalcomponents/input.ejs', {className: 'inputcontainer',
  type: 'email',
  name: 'email',
  label: 'Email',
  required: 'true',
  placeholder: '',
  value: ''
}) %> 

<%- include('../fractalcomponents/input.ejs', {className: 'inputcontainer',
    type: 'password',
    name: 'password',
    label: 'enter ur password',
    required: 'true',
    value: '',
    placeholder: ''
}) %>

<button type="submit" name="">Login</button>

</form>

